<form [formGroup]="form()" class="flex flex-col gap-5">

	<h3 class="text-base font-bold text-text-main">Criterios de valoración</h3>

	@for (criterio of criterios; track criterio.key) {
		<div class="flex items-center gap-3">
			<span class="text-base font-medium text-gray-700 w-28 shrink-0">{{ criterio.label }}</span>
			<span class="text-sm text-bold text-text-main whitespace-nowrap">: 1</span>
			<mat-slider class="flex-1 min-w-0!" discrete max="5" min="1" step="1">
				<input [formControlName]="criterio.key" matSliderThumb/>
			</mat-slider>
			<span class="text-sm text-bold text-text-main">5</span>
		</div>
	}

	<mat-form-field appearance="fill" class="w-full">
		<mat-label>Comentario</mat-label>
		<textarea formControlName="comment" matInput placeholder="Cuéntanos tu experiencia..."
		          rows="3"></textarea>
		@if (form().get('comment')?.hasError('required') && form().get('comment')?.touched) {
			<mat-error>El comentario es obligatorio</mat-error>
		}
	</mat-form-field>

</form>
