mat-slider {
	--mat-slider-disabled-active-track-color: var(--color-secondary);
	--mat-slider-disabled-handle-color: var(--color-secondary);

	.mdc-slider--disabled {
		opacity: 0.80;
	}
}

mat-form-field {
	--mat-form-field-filled-disabled-label-text-color: var(--color-secondary);
	--mat-form-field-filled-disabled-input-text-color: var(--color-secondary);
}
