<mat-card class="!rounded-2xl overflow-hidden h-full !shadow-sm cursor-pointer"
          [routerLink]="['/francesinhas', francesinha().id]">

  <!-- Imagen placeholder -->
  <div class="relative bg-tertiary/50 aspect-video flex items-center justify-center border-b border-b-primary">
    <div class="bg-white/60 border border-primary rounded-full p-4 shadow-xl">
      <img src="icons/francesinha.svg" class="w-12 h-12 opacity-70" alt="Imagen taste francesinha"/>
    </div>

    <!-- Chip tipo - top left -->
    <mat-chip class="!absolute !top-2 !left-2 !text-xs !h-6 bg-secondary cutom-header-chip !shadow-xl">
      <i>{{ francesinha().type }}</i>
    </mat-chip>

    <!-- indicador favorito - solo si esta logeado -->
    @if (isLoggedIn()) {
      <span class="!absolute !top-2 !right-2 text-secondary pointer-events-none">
        <mat-icon [class]="isFavorite() ? 'icon-filled' : ''">favorite</mat-icon>
      </span>
    }
  </div>

  <mat-card-content class="!p-3 flex flex-col gap-1.5">

    <!-- Nombre -->
    <h2 class="font-bold text-lg line-clamp-1 !text-text-main">
      {{ francesinha().name }}
    </h2>

    <!-- Restaurante -->
    <p class="text-base text-gray-600 pt-1 line-clamp-1">
      {{ francesinha().restaurant.name }} · {{ francesinha().restaurant.city }}
    </p>

    <!-- Badges -->
    <div class="flex flex-nowrap gap-1.5 py-1.5 overflow-x-auto [&::-webkit-scrollbar]:hidden">

      @if (francesinha().hasFries) {
        <span class="text-sm bg-amber-100 text-amber-900 border border-amber-300 px-2 py-0.5 rounded-full flex items-center gap-1">
          <img src="icons/fries.svg" class="w-3.5 h-3.5" alt=""/> Patatas
        </span>
      }

      @if (francesinha().hasEgg) {
        <span class="text-sm bg-yellow-100 text-yellow-900 border border-yellow-300 px-2 py-0.5 rounded-full flex items-center gap-1">
          <img src="icons/egg.svg" class="w-3.5 h-3.5" alt=""/> Huevo
        </span>
      }

      @if (francesinha().isSpicy) {
        <span class="text-sm bg-red-100 text-red-900 border border-red-300 px-2 py-0.5 rounded-full flex items-center gap-1">
          <img src="icons/chilli.svg" class="w-3.5 h-3.5" alt=""/> Picante
        </span>
      }

      @if (!francesinha().hasFries && !francesinha().hasEgg && !francesinha().isSpicy) {
        <span class="invisible text-sm px-2 py-0.5 rounded-full">_</span>
      }
    </div>

    <!-- Score + precio -->
    <div class="flex items-center gap-2 mt-0.5 flex-wrap">

      <!-- Score -->
      <div class="flex items-center gap-1">
        <mat-icon class="icon-filled !text-yellow-400 !text-3xl !w-7 !h-7 !leading-7">star</mat-icon>
        <span class="text-base font-semibold text-gray-700">{{ francesinha().avgScore | number:'1.2-2' }}</span>
      </div>

      <!-- Precio -->
      <span class="text-base font-bold bg-primary/10 text-primary px-3 py-1 rounded-full ml-auto border border-primary/30">
        {{ francesinha().price | number:'1.2-2' }} €
      </span>

    </div>
  </mat-card-content>

</mat-card>
