<div class="border-b! border-gray-200! leading-tight!">
	<h2 mat-dialog-title class="!font-bold !text-text-main text-base m-0">{{ data.francesinhaName }}<br>
		<span class="text-sm text-gray-500 font-medium mt-0.5">{{ data.restaurantName }} · {{ data.restaurantCity }}</span>
	</h2>

	<div class="flex items-center justify-center gap-2 !mb-2">
		<span class="text-lg font-bold text-text-main">Media: </span>
		<mat-icon class="icon-filled text-yellow-400! text-4xl! w-8! h-8! leading-8!">star</mat-icon>
		<span class="text-2xl font-bold text-text-main">{{ avgScore() | number:'1.2-2' }}</span>
	</div>

</div>




<mat-dialog-content>
	<form [formGroup]="form" class="flex flex-col gap-5">

		<p class="text-sm font-medium text-gray-500">Criterios de valoración</p>

		@for (criterio of criterios; track criterio.key) {
			<div class="flex flex-col gap-0.5">
				<span class="text-sm font-medium text-gray-700">{{ criterio.label }}</span>
				<div class="flex items-center gap-2">
					<span class="text-xs text-gray-400 w-3 shrink-0">1</span>
					<mat-slider min="1" max="5" step="1" discrete class="flex-1 w-full!">
						<input matSliderThumb [formControlName]="criterio.key"/>
					</mat-slider>
					<span class="text-xs text-gray-400 w-3 shrink-0">5</span>
				</div>
			</div>
		}

		<mat-form-field appearance="fill" class="w-full">
			<mat-label>Comentario</mat-label>
			<textarea matInput formControlName="comment" rows="3"
			          placeholder="Cuéntanos tu experiencia..."></textarea>
			@if (form.get('comment')?.hasError('required') && form.get('comment')?.touched) {
				<mat-error>El comentario es obligatorio</mat-error>
			}
		</mat-form-field>
	</form>
</mat-dialog-content>

@if (errorMessage()) {
	<p class="text-sm text-white bg-danger text-center px-4 py-2 mx-6 rounded-full">{{ errorMessage() }}</p>
}

<mat-dialog-actions class="flex! items-center! justify-center! px-4! pb-3! pt-2! gap-2! border-t! border-gray-200!">
	<button mat-stroked-button (click)="cancel()">
      <span class="flex items-center gap-1">
        <mat-icon>close</mat-icon>
        Cancelar
      </span>
	</button>
	<button mat-flat-button color="primary" (click)="submit()" [disabled]="isLoading()">
		@if (isLoading()) {
			<mat-spinner diameter="18"/>
		} @else {
			<span class="flex items-center gap-1">
          <mat-icon>check</mat-icon>
          Publicar
        </span>
		}
	</button>
</mat-dialog-actions>
