<div class="border-b! border-gray-200! leading-tight!">
	<h2 mat-dialog-title class="!font-bold !text-text-main text-base m-0">{{ data.francesinhaName }}<br>
		<span class="text-sm text-gray-500 font-medium mt-0.5">{{ data.restaurantName }} · {{ data.restaurantCity }}</span>
	</h2>

	<div class="flex items-center justify-center gap-2 !mb-2">
		<span class="text-lg font-bold text-text-main">Media: </span>
		<mat-icon class="icon-filled text-yellow-400! text-2xl! w-6! h-6! leading-6!">star</mat-icon>
		<span class="text-xl font-bold text-text-main">{{ reviewFormRef.avgScore() | number:'1.2-2' }}</span>
	</div>
</div>

<mat-dialog-content>
	<app-review-form #reviewFormRef [form]="form"/>
</mat-dialog-content>

@if (errorMessage()) {
	<p class="text-sm text-white bg-danger text-center px-4 py-2 mx-6 rounded-full">{{ errorMessage() }}</p>
}

<mat-dialog-actions class="flex! items-center! justify-center! px-4! pb-3! pt-2! gap-2! border-t! border-gray-200!">
	<button mat-stroked-button (click)="cancel()">
      <span class="flex items-center gap-1">
        <mat-icon>close</mat-icon>
        Cancelar
      </span>
	</button>
	<button mat-flat-button color="primary" (click)="submit()" [disabled]="isLoading() || form.invalid">
		@if (isLoading()) {
			<mat-spinner diameter="18"/>
		} @else {
			<span class="flex items-center gap-1">
          <mat-icon>check</mat-icon>
          Publicar
        </span>
		}
	</button>
</mat-dialog-actions>