@import "tailwindcss";

@theme {
  /* Principales */
  --color-primary:   #C45C2A;
  --color-secondary: #8B3820;
  --color-accent:    #F5C4B3;
  --color-neutral:   #F1EFE8;

  /* Escala naranja */
  --color-primary-50:  #FAEEDA;
  --color-primary-100: #F5C4B3;
  --color-primary-200: #F0997B;
  --color-primary-400: #D85A30;
  --color-primary-900: #4A1B0C;

  /* Texto */
  --color-text-main:  #2C2C2A;
  --color-text-muted: #888780;

  /* Estados */
  --color-success:   #1a7a3c;
  --color-warning:   #a16207;
  --color-danger:    #e11d48;

  /* Terciario */
  --color-tertiary: #ffdfa0;
  --color-white:  #ffffff;
}

.cutom-header-chip {
  background-color: #8B3820 !important;
  --mat-chip-outline-color: transparent;
}

.cutom-header-chip .mdc-evolution-chip__text-label {
  color: #ffffff !important;
}

:root {
  --mat-tooltip-container-color: #424242;
  --mat-tooltip-supporting-text-color: #ffffff;
  /* Tokens de componentes MDC - no cubiertos por mat.theme-overrides */
  --mat-expansion-header-text-color: #C45C2A;
  --mat-expansion-header-indicator-color: #C45C2A;

  --mdc-chip-outline-color: #8B3820;
  --mdc-chip-elevated-container-color: #8B3820;

  --mdc-outlined-text-field-outline-color: #C45C2A;
  --mdc-outlined-text-field-hover-outline-color: #8B3820;
  --mdc-outlined-text-field-input-text-color: #8B3820;
  --mdc-outlined-text-field-input-text-placeholder-color: #888780;
}
